h1= title

intro


Showcase
http://www.jqmgallery.com/



h2 Risorse
p
    a(href='/jqm') jQueryMobile docs 1.0.1
p
    a(href='/jquerymobile/jquery.mobile-1.0.1.zip') Download jQueryMobile
p
    a(href='/jqmb/index.html') jQueryMobile Boilerplate