body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, td{
    border: black solid 1px;
    border-collapse: collapse;
}

td{
    padding: 2px;

}

